<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

  <h1> 게시글 생성 </h1>
  <form action="/posts/create" method= "post">
    <input type="text" name="title">
    <input type="text" name="content">
    <input type="submit" value="제출">
  </form>
